#Blanco {
 background-color: #FFFFFF; 
 
}

#verde {
    background-color: #30a113;
}

#Naranja {
    background-color: #ff6f00;
}

#Verdeclaro {
    background-color:  #10e685;
}

#Azul {
    background-color: #1e81eb;
}

#Morado {
   background-color: #9a13e8; 
}

#Moradoclaro {
    background-color: #c80ced;
}

#Naranjaoscuro {
   background-color: #e63509; 
}

#Amarillo {
    background-color: #d7f205;
}

#Verdelimon {
    background-color: #d7f205;
}

#Azulclaro {
    background-color: #0af0f0;
}

#Rojo {
   background-color: #e61022; 
}

#Moradooscuro {
   background-color: #400861; 
} 

#Cafe {
    background-color: #7d790e;
}

#Azulcielo {
    background-color: #7c80f2;
}

#Naranjaoscuro {
    background-color: #f25246;
}